body {
  margin: 0;
  padding: 0;
}

#currentMonth #ndp-month-select,
#currentMonth #ndp-year-select {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  padding: 2px 3px 2px;
  height: 25px;
  width: 71px;
}
/* payroll create swal alert */
.swal2-container {
  z-index: 999999999999999 !important;
  text-transform: capitalize;
}
